@import "./reset.scss";
@import "./variables/globals.scss";
@import "./themes/light.scss";
@import "./themes/dark.scss";

.app {
    font: var(--font-m);
    color: var(--primary-color);
    background-color: var(--bg-color);
    min-height: 100vh; 
}
